/* REQUIRED: Let the inner main grid span the full viewport on the homepage only */
.mdx-container .md-grid {
  max-width: initial;   
  padding-left: 0;     
  padding-right: 0;     
  padding-bottom: 0;
}

/* This is only for image as content (init design) */
.mdx-hero img { width: 100%; height: auto; display: block; }

.mdx-hero {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}


/* Increase logo size and fix padding */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 2.4rem;  
  width: auto;      
}

.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}

/* centered button  */
.button-center {
  display: flex;
  justify-content: center;
}

/* shrink-to-content */
.md-typeset a.md-button {
  display: inline-block;
}


/* THIS SECTION IS EXCLUSIVELY FOR MAKING THE BANNER AS BACKGROUND (DELETE IF IMAGE-INSERT INSTEAD OF BACKGROUND */
.mdx-hero {
  position: relative;
  min-height: 284vh;                
  height: auto;                    
  max-height: none;                
  background-image: url("../img/example_banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: visible;                
}

/* Place overlay content above the background */
.mdx-hero__content {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.spacer-5 { height: 5rem; }
.spacer-10 { height: 10rem; }

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;        
  padding-right: 0.75rem;
  max-width: 35rem;             
  place-content: center;       
}
